<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Testimonial</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote>
                        <p>In the past two years, Nancy Truong has provided our organization with translation services for our ongoing projects. Nancy has consistently produced translations that were accurate and professional. Many of the projects required a quick turnaround, Nancy met these deadlines with ease. A true professional, Nancy was a pleasure to work with and always eager to please. When unsure, she was able to ask questions and provide suggestions, which resulted in a solid product. I highly recommend individuals and agencies, seeking a professional translator, utlize Nancy's translation services for their personal and professional projects.</p>
                        <footer>Leanne Winchester, Project Director, EOHHS/ELD/UMMS MassAHEC</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>