 <!-- Portfolio Modals -->
 {% for post in site.portfolio %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">

                            <div>
                                <p>Originally published at
                                    <a href="{{ post.publish-url }}" target="_blank">{{ post.publish-site }}</a>
                                </p>
                            </div>

                            <div>
                                <p>
                                    Download PDF:
                                    <a href="https://drive.google.com/uc?export=download&id={{ post.english-preview-id }}" target="_blank">English</a>
                                    |
                                    Download PDF:
                                    <a href="https://drive.google.com/uc?export=download&id={{ post.spanish-preview-id }}" target="_blank">Spanish</a>
                                </p>
                            </div>

                            <div>
                                <iframe src="https://drive.google.com/a/nancytruong.us/file/d/{{ post.english-preview-id }}/preview" width="640" height="480"></iframe>

                                <iframe src="https://drive.google.com/a/nancytruong.us/file/d/{{ post.spanish-preview-id }}/preview" width="640" height="480"></iframe>                                
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
